
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{

    border: 4px solid whitesmoke;
    width: 100%;
    height: 50%;
    padding: 20px;
    margin: 15px;
    background-color: #f2f4ff;
    border-radius: 12px;

}
.box{
    margin: auto;
    height: 400px;
    width: 350px;
    background-color: #ffffff;
    border-radius: 20px;
}
.card-text-box{
    padding-left: 150px;
     padding-top: 5%;
}
.card-text-box1{
    font-size: small;
     font-weight:lighter;
     color:#1b255a;
}
.card-text-box2{
    color: #1b255a;
     font-size: larger;
     font-weight: bold;
}
.card-text-box3{
    font-weight: lighter;
     font-size: small;
      color:#1b255a;
}
.card-count-box{
    padding-left: 70px;
    padding-top: 10%;
}
.card-img{
    width: 40%;
    margin-top: 16%;
    border-radius: 50%;
    border: 1spx solid grey;
    
}
.downloads1{
    padding-top: 9%;
     padding-left: 40px; 
     font-weight: bold;
      font-size: small; 
      color:#1b255a;
}
.card-btn{
    text-decoration: none;
    border-radius: 12px;
    border: 3px solid whitesmoke;
    padding: 10px;
    font-weight: bold;
    color: #1b255a;
    margin: 5px;
}
.card-btn1{
    text-decoration: none;
    border-radius: 12px;
    border: 3px solid whitesmoke;
    padding: 10px;
    font-weight: bold;
    color: #1b255a;
    margin: 5px;
    background-color: #1b255a;
     color: white;
     cursor: pointer;

}
.Subscribe-btn{
    text-decoration: none;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
    color: white;
    background-color: #1b255a;
    width: 90%;
    
}
.subsbox{
    margin-left: 35px;
    margin-top: 8%;


}  
